---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "@fontsource-variable/inter";
// import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
}
const { title, description = "WinterDevs" } = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site)

import "@/styles/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <meta property="og:title" content={`${title} | WinterDevs`} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:image" content="/images/og-image.png" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`${title} | WinterDevs`} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/images/og-image.png" />

    <meta name="robots" content="index, follow" />

    <title>{title} | WinterDevs</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonicalUrl} />


    <!-- Plausible Analytics -->
    <script
      is:inline
      defer
      data-domain="devs.wintertech.xyz"
      src="https://plausible.flvffy.top/js/script.outbound-links.js"></script>

    <!-- <ClientRouter /> -->
  </head>
  <body class="font-inter flex flex-col min-h-screen">
    <Navbar />
    <div class="flex-1">
      <slot />
    </div>
    <Footer />
  </body>
</html>
